{% extends 'base.html.twig' %}

{% block body %}
	<h2>Détails de la formation</h2>
	<ul>
		<li>{{formation}}</li>
		<li>{{duree}}</li>
		<li>{{mode}}</li>
		<li>{{formateur}}</li>
	</ul>

	<h2>liste d'inscrii</h2>
	<ul>
	{%for stagiaire in stagiaires%}
	
		<li>{{stagiaire}}</li>
		{%endfor%}
	</ul>

	<h2>liste de Camps</h2>
	<ul>
	{%if camps%}
	
	{%for camp in camps%}
	
		<li>{{camp}}</li>
		
		{%endfor%}
		{%else%}
		<h3> pas du camps noww</h3>
		{%endif%}
	</ul>
{% endblock %}
	